<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>A sample job running some console scripts</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>J3nkinsT0k3n</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>pwd
ls -al
env | grep ROS
roslaunch publisher_example move.launch &amp;
MOVE_ID=$!
sleep 15s
kill $MOVE_ID
roslaunch publisher_example stop.launch &amp;
STOP_ID=$!
sleep 5s
kill $STOP_ID
rosservice call /gazebo/reset_simulation &quot;{}&quot;
echo &quot;Job finished&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.13"/>
  </buildWrappers>
</project>